<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="onSubmit()" [formGroup]="userForm" class="form">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        formControlName="user_email"
        placeholder="Enter email"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Full Name</ion-label>
      <ion-input
        formControlName="user_name"
        placeholder="Enter full name"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Phone</ion-label>
      <ion-input
        formControlName="user_phone"
        placeholder="Enter phone no"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">City</ion-label>
      <ion-input
        formControlName="user_city"
        placeholder="Enter city"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Status</ion-label>
      <ion-select formControlName="is_active">
        <ion-select-option [value]="true">Active</ion-select-option>
        <ion-select-option [value]="false">Inactive</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button
      class="btn"
      expand="full"
      type="submit"
      [disabled]="!userForm.valid"
    >
      Submit
    </ion-button>
  </form>

  <!-- Display fetched data below the form -->

  <ion-list>
    <ion-item *ngFor="let user of userList">
      <ion-label>
        <h2>{{ user.user_name }}</h2>
      </ion-label>
      <ion-button (click)="deleteRecord(user.id)" color="danger" fill="clear">
        Delete
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
